<form name="customerForm" role="form">

  <script cam-script type="text/form-script">

  

    var cliente = $scope.cliente = {completed:false};

    camForm.on('form-loaded', function() {

      camForm.variableManager.createVariable({
        name: 'cliente',
        type: 'json',
        value: cliente
      });
    });

  </script>

  <h3>Cliente</h3>

	<div class="control-group">
		<label>
		    <input type="radio" name="completado" ng-model="cliente.completed" ng-value="true">
		   	 Completo
		  	</label><br/>
		  <label>
		    <input type="radio" name="completado" ng-model="cliente.completed" ng-value="false">
		    Incompleto
		  </label><br/>
	</div>

</form>
