<form name="customerForm" role="form">

  <script cam-script type="text/form-script">

	var clienteFull = $scope.clienteFull = {};
	var aprobacionDiga = $scope.aprobacionDiga = {completed:false};
	camForm.on('form-loaded', function() {
    
    	camForm.variableManager.fetchVariable('bandeja');
		camForm.variableManager.createVariable({
        	name: 'aprobacionDiga',
       		type: 'json',
       		value: aprobacionDiga
      	});
		
	});
	 
 	 	camForm.on('variables-fetched', function() {
    
	    	$scope.clienteFull = camForm.variableManager.variableValue('bandeja');
			
  		});
	

  </script>

  <h3>Cliente</h3>

	<div class="control-group">
		<label class="control-label" for="firstname">Nombres</label>
		<div class="controls">
			<input id="firstname" class="form-control" type="text" disabled
				ng-model="clienteFull.nombres">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="firstname">Apellidos</label>
		<div class="controls">
			<input id="firstname" class="form-control" type="text" disabled
				ng-model="clienteFull.apellidos">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="firstname">Descripcion</label>
		<div class="controls">
			<input id="firstname" class="form-control" type="text" disabled
				ng-model="clienteFull.solicitud">
		</div>
	</div>
	
	<div class="control-group">
		<label>
		    <input type="radio" name="completado" ng-model="aprobacionDiga.completed" ng-value="true">
		   	 Completo
		  	</label><br/>
		  <label>
		    <input type="radio" name="completado" ng-model="aprobacionDiga.completed" ng-value="false">
		    Incompleto
		  </label><br/>
	</div>

</form>
