<form name="customerForm" role="form">

  <script cam-script type="text/form-script">


    camForm.on('form-loaded', function() {
     
      camForm.variableManager.fetchVariable('cliente');
    });

    camForm.on('variables-fetched', function() {
      
      $scope.cliente = camForm.variableManager.variableValue('cliente');
    });

  </script>

  <h3>Cliente</h3>

	<div class="control-group">
		<label>
		    <input type="radio" ng-model="cliente" ng-value="true">
		   	 Completo
		  	</label><br/>
		  <label>
		    <input type="radio" ng-model="cliente" ng-value="false">
		    Incompleto
		  </label><br/>
	</div>

</form>
